[Unit]
Description=IPerf daemon
After=syslog.target network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/iperfd
ExecStart=/usr/bin/iperf3 --verbose --server --daemon --bind $IP_ADDRESS --port $PORT --logfile $LOG_FILE
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
